@import-normalize; /* bring in normalize.css styles */
:root {
  --bg-main-color: #023449;
  --txt-main-color: #c7b75b;
  --txt-bright-color: #fff5bc;
  --dark-yellow-color: rgba(107, 99, 55, 0.24);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-main-color);
  color: var(--txt-main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, ul, li, p {
  text-decoration: none;
  color: inherit;
  list-style: none;
  /* padding: 0; */
  margin: 0;
  transition: all .5s;
}

/* common styles for all pages*/
a:hover,
a:focus {
  color: var(--txt-bright-color)
}


.navigation {
  margin: 20px 0 50px 20px;  
  font-weight: 700;
}
.navigation > a {
  padding: 20px;
  transition: all .5s;
  font-size: 18px;
  color: var(--txt-main-color);  
  font-style: bold;
  border-bottom: solid 2px var(--bg-main-color);
}

.navigation > a.active {
  color: var(--txt-main-color);
  border-bottom: solid 2px var(--txt-main-color);
} 
.navigation > a:hover,
.navigation > a:focus {
  color: var(--txt-bright-color);
  border-bottom: solid 2px var(--txt-bright-color);
}